<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./lib/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <link rel="stylesheet" href="./lib/bootstrap.css"></link>
</head>

<body>
    <div id="app">
      
            
            <div class="panel panel-primary">
                <div class="panel-heading">
                   <h3 class="panel-title">添加品牌</h3>
                </div>
            <div class="panel-body form-inline">
               
                <label>
                    name:
                    <input type="text" v-model="name" class="form-control">
                </label>
                
                    <input type="button" value="添加" @click="add" class="btn btn-primary">
               
            </div>
            </div>
            
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>name</th>
                        <th>time</th>
                        <th>oper</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in list" :key="item.id">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.time}}</td>
                        <td><a href="" @click.prevent="del(item.id)">删除</a></td>
                    </tr>
                </tbody>
            </table>
            
    
    </div>
    <script>
        Vue.http.options.root='/root';//根路径
        Vue.http.options.emulateJSON=true;//全局启动
        var vm=new Vue({
           el:'#app',
           data:{
               name:'',
               list:[//存放列表的数组
                   {id:1,name:'奔驰',time:new Date()},
                    {id:2,name:'众泰',time:new Date()}

               ]
           },
           created(){
            this.getAllList()
           },
           methods:{
            add(){//添加品牌列表
                //1.查看 数据API接口   发送一个post请求  
                //this.$http.post()中接受三个参数
                //在post方法中  使用then来设置成功 的回调函数
                this.$http.post('url',{name:this.name}).then(reault=>{
                    if (result.body.status === 0) {
                        //添加完成后  只需手动 再调用一下 getAllList就能刷新列表了
                        this.getAllList()
                        //清空
                        this.name=''

                    } else {
                        alert('添加失败')
                    }
                })

            },
            getAllList(){//获取所有的列表
               this.$http.get('url').then(result=>{
                   //通过 $http 获取到的数据 都在 result.body中数据
                   var result=result.body
               if (result.status === 0) {
                   this.list=result.message
               } else {
                   alert('获取数据失败')
               }
               }) 

            },
            del(id){//删除
                this.$http.get('url'+id).then(result=>{
                    if (result.body.status === 0) {
                        this.getAllList()
                    } else {
                        alert('失败')
                    }
                })

            }
           }
        })
    </script>
</body>

</html>