<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="firstname">+
        <input type="text" v-model="lastname">=
        <input type="text" v-model="fullname">
    </div>
    <script>
        var vm=new Vue({
           el:'#app',
           data:{
               firstname:'',
               lastname:'',
               fullname:''
           },
           methods:{
            //    getfull(){
            //        this.fullname=this.firstname+'-'+this.lastname
            //    }
               },
            watch:{
                firstname:function(newVal,oldVal){
                    this.fullname=newVal+'-'+this.lastname
                }
            
           }
        });
    </script>
</body>

</html>